In [2]:
from pandas import read_csv

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("sales.csv")

/home/johns/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286387,100562365,2021-09-30,paid,905179.0,APPCHA5AF14939B8F8A,2.0,4419.9,4419.9,0.0,4419.9,...,613-87-0361,212-772-7404,Rushville,Yates,Rushville,NY,14544,Northeast,bklatham,0.0
286388,100562376,2021-09-30,cod,905191.0,MEFCOT5A8D1E973B886,2.0,39.9,39.9,0.0,39.9,...,101-02-1040,229-817-9451,Lawrenceville,Gwinnett,Lawrenceville,GA,30044,South,bmbrunetti,0.0
286389,100562383,2021-09-30,cod,905200.0,WOFVAL59D5EA84167F9-M,2.0,40.0,40.0,0.0,40.0,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286390,100562384,2021-09-30,cod,905202.0,WOFNIG5B4D7EB0E9FDD-L,2.0,49.9,49.9,0.0,49.9,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286391,100562386,2021-09-30,processing,905205.0,MATHUA5AF70A7D1E50A,2.0,3559.9,3559.9,0.0,3559.9,...,320-11-8748,423-276-2699,Knoxville,Knox,Knoxville,TN,37920,South,reschlosser,0.0

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.dtypes

order_id             object
order_date           object
status               object
item_id             float64
sku                  object
qty_ordered         float64
price               float64
value               float64
discount_amount     float64
total               float64
category             object
payment_method       object
bi_st                object
cust_id             float64
year                  int64
month                object
ref_num               int64
Name Prefix          object
First Name           object
Middle Initial       object
Last Name            object
Gender               object
age                 float64
full_name            object
E Mail               object
Customer Since       object
SSN                  object
Phone No.            object
Place Name           object
County               object
City                 object
State                object
Zip                   int64
Region               object
User Name            object
Discount_Percent    float64
dtype: object

In [8]:
df

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286387,100562365,2021-09-30,paid,905179.0,APPCHA5AF14939B8F8A,2.0,4419.9,4419.9,0.0,4419.9,...,613-87-0361,212-772-7404,Rushville,Yates,Rushville,NY,14544,Northeast,bklatham,0.0
286388,100562376,2021-09-30,cod,905191.0,MEFCOT5A8D1E973B886,2.0,39.9,39.9,0.0,39.9,...,101-02-1040,229-817-9451,Lawrenceville,Gwinnett,Lawrenceville,GA,30044,South,bmbrunetti,0.0
286389,100562383,2021-09-30,cod,905200.0,WOFVAL59D5EA84167F9-M,2.0,40.0,40.0,0.0,40.0,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286390,100562384,2021-09-30,cod,905202.0,WOFNIG5B4D7EB0E9FDD-L,2.0,49.9,49.9,0.0,49.9,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286391,100562386,2021-09-30,processing,905205.0,MATHUA5AF70A7D1E50A,2.0,3559.9,3559.9,0.0,3559.9,...,320-11-8748,423-276-2699,Knoxville,Knox,Knoxville,TN,37920,South,reschlosser,0.0

In [9]:
 df.head()

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [9]:
df.shape

(286392, 36)

In [10]:
df.tail()

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
286387,100562365,2021-09-30,paid,905179.0,APPCHA5AF14939B8F8A,2.0,4419.9,4419.9,0.0,4419.9,...,613-87-0361,212-772-7404,Rushville,Yates,Rushville,NY,14544,Northeast,bklatham,0.0
286388,100562376,2021-09-30,cod,905191.0,MEFCOT5A8D1E973B886,2.0,39.9,39.9,0.0,39.9,...,101-02-1040,229-817-9451,Lawrenceville,Gwinnett,Lawrenceville,GA,30044,South,bmbrunetti,0.0
286389,100562383,2021-09-30,cod,905200.0,WOFVAL59D5EA84167F9-M,2.0,40.0,40.0,0.0,40.0,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286390,100562384,2021-09-30,cod,905202.0,WOFNIG5B4D7EB0E9FDD-L,2.0,49.9,49.9,0.0,49.9,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286391,100562386,2021-09-30,processing,905205.0,MATHUA5AF70A7D1E50A,2.0,3559.9,3559.9,0.0,3559.9,...,320-11-8748,423-276-2699,Knoxville,Knox,Knoxville,TN,37920,South,reschlosser,0.0

In [12]:
temp = pd.DataFrame({"A":["1","2","3"], "B":[11,12,13], "C": ["12-06-2012", "13-06-2015", "15-06-2017"]})

In [13]:
temp.dtypes

A    object
B     int64
C    object
dtype: object

In [14]:
pd.to_datetime("2016-jun-02")

Timestamp('2016-06-02 00:00:00')

In [15]:
temp

   A   B           C
0  1  11  12-06-2012
1  2  12  13-06-2015
2  3  13  15-06-2017

In [18]:
temp["C"] = pd.to_datetime(temp["C"])

In [19]:
temp

   A   B          C
0  1  11 2012-12-06
1  2  12 2015-06-13
2  3  13 2017-06-15

In [20]:
temp.dtypes

A            object
B             int64
C    datetime64[ns]
dtype: object

In [21]:
temp["A"] = pd.to_numeric(temp["A"])

In [22]:
temp.dtypes

A             int64
B             int64
C    datetime64[ns]
dtype: object

In [11]:

df.describe()

,item_id,qty_ordered,price,value,discount_amount,total,cust_id,year,ref_num,age,Zip,Discount_Percent
count,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000
mean,741664.902131,3.011296,851.385253,885.879934,70.039427,815.840507,70048.019054,2020.618778,560853.663395,46.489033,49723.160015,6.069079
std,95746.031827,4.573837,1741.750751,2073.252179,256.880870,1983.580302,30243.856395,0.485688,255828.418398,16.673288,27597.198873,10.100100
min,574769.000000,1.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2020.000000,111127.000000,18.000000,210.000000,0.000000
25%,659684.500000,2.000000,49.900000,49.900000,0.000000,49.900000,56519.000000,2020.000000,341265.000000,32.000000,26571.750000,0.000000
50%,742309.000000,2.000000,119.000000,158.970000,0.000000,149.800000,74225.500000,2021.000000,564857.000000,47.000000,49316.000000,0.000000
75%,826124.250000,3.000000,950.000000,910.000000,18.383050,800.000000,92357.000000,2021.000000,781086.000000,61.000000,72645.000000,11.000000
max,905208.000000,501.000000,101262.590000,101262.590000,30213.150000,101262.590000,115326.000000,2021.000000,999981.000000,75.000000,99950.000000,75.000000

In [26]:
df

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286387,100562365,2021-09-30,paid,905179.0,APPCHA5AF14939B8F8A,2.0,4419.9,4419.9,0.0,4419.9,...,613-87-0361,212-772-7404,Rushville,Yates,Rushville,NY,14544,Northeast,bklatham,0.0
286388,100562376,2021-09-30,cod,905191.0,MEFCOT5A8D1E973B886,2.0,39.9,39.9,0.0,39.9,...,101-02-1040,229-817-9451,Lawrenceville,Gwinnett,Lawrenceville,GA,30044,South,bmbrunetti,0.0
286389,100562383,2021-09-30,cod,905200.0,WOFVAL59D5EA84167F9-M,2.0,40.0,40.0,0.0,40.0,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286390,100562384,2021-09-30,cod,905202.0,WOFNIG5B4D7EB0E9FDD-L,2.0,49.9,49.9,0.0,49.9,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286391,100562386,2021-09-30,processing,905205.0,MATHUA5AF70A7D1E50A,2.0,3559.9,3559.9,0.0,3559.9,...,320-11-8748,423-276-2699,Knoxville,Knox,Knoxville,TN,37920,South,reschlosser,0.0

In [28]:
df["sku"].value_counts().head()

MATSAM59DB75ADB2F80    3775
MATSAM59DB757FB47A2    1273
APPNAT5A0A01860CE92    1173
MATSAM5A7463EE3C1A5    1171
ENTECO5A7FE80D6C830    1023
Name: sku, dtype: int64

In [31]:
df.iloc[0:5, 0:4]

    order_id  order_date    status   item_id
0  100354678  2020-10-01  received  574772.0
1  100354678  2020-10-01  received  574774.0
2  100354680  2020-10-01  complete  574777.0
3  100354680  2020-10-01  complete  574779.0
4  100367357  2020-11-13  received  595185.0

In [33]:
df.iloc[0:5, 0:4]

    order_id  order_date    status   item_id
0  100354678  2020-10-01  received  574772.0
1  100354678  2020-10-01  received  574774.0
2  100354680  2020-10-01  complete  574777.0
3  100354680  2020-10-01  complete  574779.0
4  100367357  2020-11-13  received  595185.0

In [34]:
df.iloc[:,0:4]

         order_id  order_date      status   item_id
0       100354678  2020-10-01    received  574772.0
1       100354678  2020-10-01    received  574774.0
2       100354680  2020-10-01    complete  574777.0
3       100354680  2020-10-01    complete  574779.0
4       100367357  2020-11-13    received  595185.0
...           ...         ...         ...       ...
286387  100562365  2021-09-30        paid  905179.0
286388  100562376  2021-09-30         cod  905191.0
286389  100562383  2021-09-30         cod  905200.0
286390  100562384  2021-09-30         cod  905202.0
286391  100562386  2021-09-30  processing  905205.0

[286392 rows x 4 columns]

In [35]:
df.iloc[:,: -1]

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,Customer Since,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286387,100562365,2021-09-30,paid,905179.0,APPCHA5AF14939B8F8A,2.0,4419.9,4419.9,0.0,4419.9,...,3/21/2007,613-87-0361,212-772-7404,Rushville,Yates,Rushville,NY,14544,Northeast,bklatham
286388,100562376,2021-09-30,cod,905191.0,MEFCOT5A8D1E973B886,2.0,39.9,39.9,0.0,39.9,...,10/24/2011,101-02-1040,229-817-9451,Lawrenceville,Gwinnett,Lawrenceville,GA,30044,South,bmbrunetti
286389,100562383,2021-09-30,cod,905200.0,WOFVAL59D5EA84167F9-M,2.0,40.0,40.0,0.0,40.0,...,7/25/1987,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti
286390,100562384,2021-09-30,cod,905202.0,WOFNIG5B4D7EB0E9FDD-L,2.0,49.9,49.9,0.0,49.9,...,7/25/1987,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti
286391,100562386,2021-09-30,processing,905205.0,MATHUA5AF70A7D1E50A,2.0,3559.9,3559.9,0.0,3559.9,...,1/28/2015,320-11-8748,423-276-2699,Knoxville,Knox,Knoxville,TN,37920,South,reschlosser

In [40]:
df.loc[:,["order_date", "status"]]

        order_date      status
0       2020-10-01    received
1       2020-10-01    received
2       2020-10-01    complete
3       2020-10-01    complete
4       2020-11-13    received
...            ...         ...
286387  2021-09-30        paid
286388  2021-09-30         cod
286389  2021-09-30         cod
286390  2021-09-30         cod
286391  2021-09-30  processing

[286392 rows x 2 columns]

In [47]:
df.loc[:,["order_date"]]

        order_date
0       2020-10-01
1       2020-10-01
2       2020-10-01
3       2020-10-01
4       2020-11-13
...            ...
286387  2021-09-30
286388  2021-09-30
286389  2021-09-30
286390  2021-09-30
286391  2021-09-30

[286392 rows x 1 columns]

In [50]:
df.iloc[0:6, 0:4]

    order_id  order_date    status   item_id
0  100354678  2020-10-01  received  574772.0
1  100354678  2020-10-01  received  574774.0
2  100354680  2020-10-01  complete  574777.0
3  100354680  2020-10-01  complete  574779.0
4  100367357  2020-11-13  received  595185.0
5  100367357  2020-11-13  received  595186.0

In [51]:
df.columns

Index(['order_id', 'order_date', 'status', 'item_id', 'sku', 'qty_ordered',
       'price', 'value', 'discount_amount', 'total', 'category',
       'payment_method', 'bi_st', 'cust_id', 'year', 'month', 'ref_num',
       'Name Prefix', 'First Name', 'Middle Initial', 'Last Name', 'Gender',
       'age', 'full_name', 'E Mail', 'Customer Since', 'SSN', 'Phone No. ',
       'Place Name', 'County', 'City', 'State', 'Zip', 'Region', 'User Name',
       'Discount_Percent'],
      dtype='object')

In [10]:
df.iloc[0:6, [0,7]]

    order_id   value
0  100354678  1798.0
1  100354678   190.0
2  100354680  1199.2
3  100354680   639.2
4  100367357    99.9
5  100367357    39.9

In [11]:
df.iloc[0:6, [3,7]]

    item_id   value
0  574772.0  1798.0
1  574774.0   190.0
2  574777.0  1199.2
3  574779.0   639.2
4  595185.0    99.9
5  595186.0    39.9

In [13]:
df.loc[['City']]

KeyError: "None of [Index(['City'], dtype='object')] are in the [index]"

In [14]:
df.head()

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [24]:
df["price"] > 100
df2 = df.loc[df['price'] > 100,["status"]]

df2

In [25]:
df2

                status
2             complete
8             canceled
9             canceled
10      order_refunded
11      order_refunded
...                ...
286384        canceled
286385        canceled
286386      processing
286387            paid
286391      processing

[150296 rows x 1 columns]

In [26]:
df["price"] > 100
df2 = df.loc[df['price'] > 100,["price"]]

In [27]:
df2

          price
2         149.9
8         135.0
9         549.9
10        549.9
11        549.9
...         ...
286384  12999.9
286385    104.8
286386    104.8
286387   4419.9
286391   3559.9

[150296 rows x 1 columns]

In [28]:
df["price"] > 100
df2 = df.loc[df['price'] > 100,["status","City"]]

In [29]:
df2

                status          City
2             complete        Vinson
8             canceled        Graham
9             canceled        Graham
10      order_refunded        Graham
11      order_refunded        Graham
...                ...           ...
286384        canceled         Bronx
286385        canceled  Chambersburg
286386      processing  Chambersburg
286387            paid     Rushville
286391      processing     Knoxville

[150296 rows x 2 columns]

In [30]:
df[df["price"] > 100]

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.000000
8,100354677,2020-10-01,canceled,574770.0,oasis_Kingston-32GB-DTIG4,2.0,135.0,135.0,0.0,135.0,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.000000
9,100354677,2020-10-01,canceled,574771.0,Geepas_GSB5420,2.0,549.9,549.9,0.0,549.9,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.000000
10,100356116,2020-10-08,order_refunded,577467.0,Geepas_GSB5420,1.0,549.9,0.0,0.0,0.0,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,5.455537
11,100358724,2020-10-21,order_refunded,581862.0,APPGEE59ADBEEE2EB9D,1.0,549.9,0.0,0.0,0.0,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,3.637025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286384,100562362,2021-09-30,canceled,905174.0,MATSAM5B6D7208C6D30,2.0,12999.9,12999.9,0.0,12999.9,...,258-99-6039,212-413-5652,Bronx,Bronx,Bronx,NY,10465,Northeast,dpwell,0.000000
286385,100562363,2021-09-30,canceled,905175.0,MEFMOV5AD9155B0C0DC-M,2.0,104.8,104.8,0.0,104.8,...,320-11-4545,215-735-9443,Chambersburg,Chambersburg,Chambersburg,PA,17202,Northeast,sknowak,0.000000
286386,100562364,2021-09-30,processing,905177.0,MEFMOV5AD9155B0C0DC-M,2.0,104.8,104.8,0.0,104.8,...,320-11-4545,215-735-9443,Chambersburg,Chambersburg,Chambersburg,PA,17202,Northeast,sknowak,0.000000
286387,100562365,2021-09-30,paid,905179.0,APPCHA5AF14939B8F8A,2.0,4419.9,4419.9,0.0,4419.9,...,613-87-0361,212-772-7404,Rushville,Yates,Rushville,NY,14544,Northeast,bklatham,0.000000
286391,100562386,2021-09-30,processing,905205.0,MATHUA5AF70A7D1E50A,2.0,3559.9,3559.9,0.0,3559.9,...,320-11-8748,423-276-2699,Knoxville,Knox,Knoxville,TN,37920,South,reschlosser,0.000000

In [31]:
df["price"] > 100
df2 = df.loc[df['price'] > 100,["status","City"]]

In [32]:
df2

                status          City
2             complete        Vinson
8             canceled        Graham
9             canceled        Graham
10      order_refunded        Graham
11      order_refunded        Graham
...                ...           ...
286384        canceled         Bronx
286385        canceled  Chambersburg
286386      processing  Chambersburg
286387            paid     Rushville
286391      processing     Knoxville

[150296 rows x 2 columns]

In [33]:
df3 = df[df["price"] > 100]

In [34]:
df3["status"]

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.000000
8,100354677,2020-10-01,canceled,574770.0,oasis_Kingston-32GB-DTIG4,2.0,135.0,135.0,0.0,135.0,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.000000
9,100354677,2020-10-01,canceled,574771.0,Geepas_GSB5420,2.0,549.9,549.9,0.0,549.9,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.000000
10,100356116,2020-10-08,order_refunded,577467.0,Geepas_GSB5420,1.0,549.9,0.0,0.0,0.0,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,5.455537
11,100358724,2020-10-21,order_refunded,581862.0,APPGEE59ADBEEE2EB9D,1.0,549.9,0.0,0.0,0.0,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,3.637025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286384,100562362,2021-09-30,canceled,905174.0,MATSAM5B6D7208C6D30,2.0,12999.9,12999.9,0.0,12999.9,...,258-99-6039,212-413-5652,Bronx,Bronx,Bronx,NY,10465,Northeast,dpwell,0.000000
286385,100562363,2021-09-30,canceled,905175.0,MEFMOV5AD9155B0C0DC-M,2.0,104.8,104.8,0.0,104.8,...,320-11-4545,215-735-9443,Chambersburg,Chambersburg,Chambersburg,PA,17202,Northeast,sknowak,0.000000
286386,100562364,2021-09-30,processing,905177.0,MEFMOV5AD9155B0C0DC-M,2.0,104.8,104.8,0.0,104.8,...,320-11-4545,215-735-9443,Chambersburg,Chambersburg,Chambersburg,PA,17202,Northeast,sknowak,0.000000
286387,100562365,2021-09-30,paid,905179.0,APPCHA5AF14939B8F8A,2.0,4419.9,4419.9,0.0,4419.9,...,613-87-0361,212-772-7404,Rushville,Yates,Rushville,NY,14544,Northeast,bklatham,0.000000
286391,100562386,2021-09-30,processing,905205.0,MATHUA5AF70A7D1E50A,2.0,3559.9,3559.9,0.0,3559.9,...,320-11-8748,423-276-2699,Knoxville,Knox,Knoxville,TN,37920,South,reschlosser,0.000000

In [35]:
df3["status"]

2               complete
8               canceled
9               canceled
10        order_refunded
11        order_refunded
               ...
286384          canceled
286385          canceled
286386        processing
286387              paid
286391        processing
Name: status, Length: 150296, dtype: object

In [37]:
test1 = df[df["status"].isin(["complete","canceled"])]

In [38]:
test1.head(n = 10)

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.00000,1199.20000,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.000000
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.00000,639.20000,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.000000
7,100354677,2020-10-01,canceled,574769.0,GFE_19_USBLEDLight,2.0,49.0,49.0,0.00000,49.00000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.000000
8,100354677,2020-10-01,canceled,574770.0,oasis_Kingston-32GB-DTIG4,2.0,135.0,135.0,0.00000,135.00000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.000000
9,100354677,2020-10-01,canceled,574771.0,Geepas_GSB5420,2.0,549.9,549.9,0.00000,549.90000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.000000
12,100403034,2020-12-24,canceled,656937.0,APPWES59CA4D59CB41A,2.0,254.8,254.8,39.80628,214.99372,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622559
13,100403034,2020-12-24,canceled,656938.0,APPPHI5A09939191938,2.0,315.5,315.5,49.28917,266.21083,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622558
14,100403034,2020-12-24,canceled,656939.0,HALSHO59F836EF959B9,2.0,69.8,69.8,10.90455,58.89545,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622564
15,100403077,2020-12-24,canceled,657023.0,APPWES59CA4D59CB41A,2.0,254.8,254.8,39.80628,214.99372,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622559
16,100403077,2020-12-24,canceled,657024.0,APPPHI5A09939191938,2.0,315.5,315.5,49.28917,266.21083,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622558

In [41]:
test1.loc[0:5, :]

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [49]:
test2 = df.loc[(df["price"] > 100) & (df["City"].isin(["Vinson"]))]

In [50]:
test2

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [53]:
test3 = df[(df["price"] > 100) & (df["City"].isin(["Graham"]))]

In [54]:
test3

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
8,100354677,2020-10-01,canceled,574770.0,oasis_Kingston-32GB-DTIG4,2.0,135.00,135.00,0.00000,135.00000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.000000
9,100354677,2020-10-01,canceled,574771.0,Geepas_GSB5420,2.0,549.90,549.90,0.00000,549.90000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.000000
10,100356116,2020-10-08,order_refunded,577467.0,Geepas_GSB5420,1.0,549.90,0.00,0.00000,0.00000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,5.455537
11,100358724,2020-10-21,order_refunded,581862.0,APPGEE59ADBEEE2EB9D,1.0,549.90,0.00,0.00000,0.00000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,3.637025
12,100403034,2020-12-24,canceled,656937.0,APPWES59CA4D59CB41A,2.0,254.80,254.80,39.80628,214.99372,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622559
13,100403034,2020-12-24,canceled,656938.0,APPPHI5A09939191938,2.0,315.50,315.50,49.28917,266.21083,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622558
15,100403077,2020-12-24,canceled,657023.0,APPWES59CA4D59CB41A,2.0,254.80,254.80,39.80628,214.99372,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622559
16,100403077,2020-12-24,canceled,657024.0,APPPHI5A09939191938,2.0,315.50,315.50,49.28917,266.21083,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622558
18,100403411,2020-12-24,canceled,657547.0,APPWES59CA4D59CB41A,2.0,254.80,254.80,39.80628,214.99372,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622559
19,100403411,2020-12-24,canceled,657548.0,APPPHI5A09939191938,2.0,315.50,315.50,49.28917,266.21083,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622558
21,100403502,2020-12-24,canceled,657702.0,APPWES59CA4D59CB41A,2.0,254.80,254.80,39.80628,214.99372,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622559
22,100403502,2020-12-24,canceled,657703.0,APPPHI5A09939191938,2.0,315.50,315.50,49.28917,266.21083,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622558
24,100403536,2020-12-24,complete,657777.0,APPWES59CA4D59CB41A,3.0,254.80,509.60,101.92000,407.68000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,20.000000
25,100403536,2020-12-24,complete,657778.0,APPPHI5A09939191938,3.0,315.50,631.00,126.20000,504.80000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,20.000000
27,100422764,2020-12-28,complete,690831.0,HALSHA59EDF900413FA,3.0,499.80,999.60,199.92000,799.68000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,20.000000
17296,100357171,2020-10-14,canceled,579319.0,BAGTEL59AE9D63A0C29,3.0,154.90,309.80,0.00000,309.80000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
17298,100357320,2020-10-15,canceled,579571.0,WOFCHE59B65A32EB817-11-12 Years,2.0,249.90,249.90,0.00000,249.90000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
17299,100357469,2020-10-16,canceled,579833.0,WOFCHE59B76C2B04B67-11-12 Years,2.0,309.90,309.90,0.00000,309.90000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
17302,100359020,2020-10-23,canceled,582391.0,MATHUA59B7EB66EF1D3,2.0,1080.40,1080.40,0.00000,1080.40000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
17305,100361544,2020-11-04,canceled,586601.0,MATHQD59AD64E02E375,2.0,355.00,355.00,0.00000,355.00000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
17307,100361682,2020-11-05,canceled,586802.0,ENTPAN59C11BE48FD71,3.0,2214.50,4429.00,0.00000,4429.00000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
17308,100363304,2020-11-08,canceled,589059.0,MEFUNZ59C902BECCBA1-10,2.0,199.90,199.90,0.00000,199.90000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
17312,100376194,2020-12-11,canceled,608749.0,WOFJAS59AC246EAAAF5-S,2.0,199.80,199.80,0.00000,199.80000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
17315,100391613,2020-12-21,received,636551.0,WOFLAL59AD9922BA1FB,2.0,105.00,105.00,0.00000,105.00000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
17317,100450737,2021-03-12,canceled,739917.0,WOFJUN59FB0FA3E8131,2.0,168.50,168.50,0.00000,168.50000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
17318,100474623,2021-04-11,canceled,777233.0,MEFRED5A6ED3D6B67D4-M,2.0,104.93,104.93,0.00000,104.93000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
46873,100365336,2020-11-12,complete,592349.0,ENTVIZ59BF507A28BBF,4.0,1611.00,4833.00,1500.00000,3333.00000,...,655-36-1575,405-784-3044,Graham,Carter,Graham,OK,73437,South,ednyman,31.036623
51675,100367179,2020-11-13,canceled,594866.0,MATINF59BAFF5524FFF,2.0,1259.90,1259.90,0.00000,1259.90000,...,392-33-0767,405-275-1749,Graham,Carter,Graham,OK,73437,South,eesaito,0.000000
70502,100376539,2020-12-12,order_refunded,609309.0,MATSAM59B7EAE1D2916,2.0,2899.90,2899.90,0.00000,2899.90000,...,206-84-0222,252-991-0599,Graham,Alamance,Graham,NC,27253,South,dhziolkowski,0.000000
101057,100390754,2020-12-21,canceled,635183.0,MATIGE59B7C1D0AE479,2.0,101.90,101.90,0.00000,101.90000,...,687-24-0274,206-287-3023,Graham,Pierce,Graham,WA,98338,West,alhorace,0.000000
131433,100409748,2020-12-26,received,669050.0,MEFGUL5A0154F12AC27-M,3.0,148.40,296.80,88.91518,207.88482,...,049-15-2308,405-264-2187,Graham,Carter,Graham,OK,73437,South,mtherrod,29.957945
131434,100409748,2020-12-26,received,669052.0,MEFSHA59E861546854D-M,3.0,204.90,409.80,122.76766,287.03234,...,049-15-2308,405-264-2187,Graham,Carter,Graham,OK,73437,South,mtherrod,29.957945
131435,100409748,2020-12-26,received,669054.0,MEFGUL5A0154E95E615-M,3.0,148.40,296.80,88.91518,207.88482,...,049-15-2308,405-264-2187,Graham,Carter,Graham,OK,73437,South,mtherrod,29.957945
208415,100470696,2021-04-04,complete,770992.0,MATINF5A7D8FDB03640,3.0,902.60,1805.20,361.04000,1444.16000,...,356-08-6716,270-912-4174,Graham,Muhlenberg,Graham,KY,42344,South,jehaigh,20.000000
208416,100470703,2021-04-04,canceled,771000.0,MATINF5A7D8FDB03640,3.0,902.60,1805.20,361.04000,1444.16000,...,356-08-6716,270-912-4174,Graham,Muhlenberg,Graham,KY,42344,South,jehaigh,20.000000
208417,100470712,2021-04-04,complete,771009.0,MATINF5A7D8FDB03640,3.0,902.60,1805.20,361.04000,1444.16000,...,356-08-6716,270-912-4174,Graham,Muhlenberg,Graham,KY,42344,South,jehaigh,20.000000
208418,100470724,2021-04-04,complete,771023.0,MATINF5A7D8FDB03640,3.0,902.60,1805.20,361.04000,1444.16000,...,356-08-6716,270-912-4174,Graham,Muhlenberg,Graham,KY,42344,South,jehaigh,20.000000
212908,100474785,2021-04-11,canceled,777430.0,OTHPCB5A7D8475EFE59,2.0,400.00,400.00,0.00000,400.00000,...,709-18-8748,239-788-0988,Graham,Bradford,Graham,FL,32042,South,atsouthwick,0.000000
214051,100475995,2021-04-14,complete,779410.0,MATROM59D5F67AACC12,2.0,125.00,125.00,0.00000,125.00000,...,716-18-2091,314-915-6958,Graham,Nodaway,Graham,MO,64455,Midwest,fwslocumb,0.000000
262127,100531162,2021-06-20,received,852302.0,MATINF5A61FBB8820B3,1.0,1379.90,0.00,0.00000,0.00000,...,389-33-9842,210-863-7948,Graham,Young,Graham,TX,76450,South,lrgokey,9.000000
262128,100531164,2021-06-20,received,852304.0,MATINF5A61FBB8820B3,1.0,1379.90,0.00,0.00000,0.00000,...,389-33-9842,210-863-7948,Graham,Young,Graham,TX,76450,South,lrgokey,9.000000
262129,100531165,2021-06-20,received,852305.0,MATINF5A61FBB8820B3,1.0,1379.90,0.00,0.00000,0.00000,...,389-33-9842,210-863-7948,Graham,Young,Graham,TX,76450,South,lrgokey,9.000000
262130,100531167,2021-06-20,received,852307.0,MATINF5A61FBB8820B3,1.0,1379.90,0.00,0.00000,0.00000,...,389-33-9842,210-863-7948,Graham,Young,Graham,TX,76450,South,lrgokey,9.000000
285708,100561335,2021-09-22,canceled,903220.0,MATHUA5AF70A7D1E50A,2.0,3589.90,3589.90,0.00000,3589.90000,...,342-11-8159,205-985-7611,Graham,Randolph,Graham,AL,36263,South,aatakacs,0.000000

In [56]:
test3.reset_index(inplace = True)

In [57]:
test3

,index,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,8,100354677,2020-10-01,canceled,574770.0,oasis_Kingston-32GB-DTIG4,2.0,135.00,135.00,0.00000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.000000
1,9,100354677,2020-10-01,canceled,574771.0,Geepas_GSB5420,2.0,549.90,549.90,0.00000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.000000
2,10,100356116,2020-10-08,order_refunded,577467.0,Geepas_GSB5420,1.0,549.90,0.00,0.00000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,5.455537
3,11,100358724,2020-10-21,order_refunded,581862.0,APPGEE59ADBEEE2EB9D,1.0,549.90,0.00,0.00000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,3.637025
4,12,100403034,2020-12-24,canceled,656937.0,APPWES59CA4D59CB41A,2.0,254.80,254.80,39.80628,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622559
5,13,100403034,2020-12-24,canceled,656938.0,APPPHI5A09939191938,2.0,315.50,315.50,49.28917,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622558
6,15,100403077,2020-12-24,canceled,657023.0,APPWES59CA4D59CB41A,2.0,254.80,254.80,39.80628,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622559
7,16,100403077,2020-12-24,canceled,657024.0,APPPHI5A09939191938,2.0,315.50,315.50,49.28917,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622558
8,18,100403411,2020-12-24,canceled,657547.0,APPWES59CA4D59CB41A,2.0,254.80,254.80,39.80628,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622559
9,19,100403411,2020-12-24,canceled,657548.0,APPPHI5A09939191938,2.0,315.50,315.50,49.28917,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622558
10,21,100403502,2020-12-24,canceled,657702.0,APPWES59CA4D59CB41A,2.0,254.80,254.80,39.80628,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622559
11,22,100403502,2020-12-24,canceled,657703.0,APPPHI5A09939191938,2.0,315.50,315.50,49.28917,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,15.622558
12,24,100403536,2020-12-24,complete,657777.0,APPWES59CA4D59CB41A,3.0,254.80,509.60,101.92000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,20.000000
13,25,100403536,2020-12-24,complete,657778.0,APPPHI5A09939191938,3.0,315.50,631.00,126.20000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,20.000000
14,27,100422764,2020-12-28,complete,690831.0,HALSHA59EDF900413FA,3.0,499.80,999.60,199.92000,...,185-86-4345,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,20.000000
15,17296,100357171,2020-10-14,canceled,579319.0,BAGTEL59AE9D63A0C29,3.0,154.90,309.80,0.00000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
16,17298,100357320,2020-10-15,canceled,579571.0,WOFCHE59B65A32EB817-11-12 Years,2.0,249.90,249.90,0.00000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
17,17299,100357469,2020-10-16,canceled,579833.0,WOFCHE59B76C2B04B67-11-12 Years,2.0,309.90,309.90,0.00000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
18,17302,100359020,2020-10-23,canceled,582391.0,MATHUA59B7EB66EF1D3,2.0,1080.40,1080.40,0.00000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
19,17305,100361544,2020-11-04,canceled,586601.0,MATHQD59AD64E02E375,2.0,355.00,355.00,0.00000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
20,17307,100361682,2020-11-05,canceled,586802.0,ENTPAN59C11BE48FD71,3.0,2214.50,4429.00,0.00000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
21,17308,100363304,2020-11-08,canceled,589059.0,MEFUNZ59C902BECCBA1-10,2.0,199.90,199.90,0.00000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
22,17312,100376194,2020-12-11,canceled,608749.0,WOFJAS59AC246EAAAF5-S,2.0,199.80,199.80,0.00000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
23,17315,100391613,2020-12-21,received,636551.0,WOFLAL59AD9922BA1FB,2.0,105.00,105.00,0.00000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
24,17317,100450737,2021-03-12,canceled,739917.0,WOFJUN59FB0FA3E8131,2.0,168.50,168.50,0.00000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
25,17318,100474623,2021-04-11,canceled,777233.0,MEFRED5A6ED3D6B67D4-M,2.0,104.93,104.93,0.00000,...,310-37-8606,210-679-5225,Graham,Young,Graham,TX,76450,South,larichins,0.000000
26,46873,100365336,2020-11-12,complete,592349.0,ENTVIZ59BF507A28BBF,4.0,1611.00,4833.00,1500.00000,...,655-36-1575,405-784-3044,Graham,Carter,Graham,OK,73437,South,ednyman,31.036623
27,51675,100367179,2020-11-13,canceled,594866.0,MATINF59BAFF5524FFF,2.0,1259.90,1259.90,0.00000,...,392-33-0767,405-275-1749,Graham,Carter,Graham,OK,73437,South,eesaito,0.000000
28,70502,100376539,2020-12-12,order_refunded,609309.0,MATSAM59B7EAE1D2916,2.0,2899.90,2899.90,0.00000,...,206-84-0222,252-991-0599,Graham,Alamance,Graham,NC,27253,South,dhziolkowski,0.000000
29,101057,100390754,2020-12-21,canceled,635183.0,MATIGE59B7C1D0AE479,2.0,101.90,101.90,0.00000,...,687-24-0274,206-287-3023,Graham,Pierce,Graham,WA,98338,West,alhorace,0.000000
30,131433,100409748,2020-12-26,received,669050.0,MEFGUL5A0154F12AC27-M,3.0,148.40,296.80,88.91518,...,049-15-2308,405-264-2187,Graham,Carter,Graham,OK,73437,South,mtherrod,29.957945
31,131434,100409748,2020-12-26,received,669052.0,MEFSHA59E861546854D-M,3.0,204.90,409.80,122.76766,...,049-15-2308,405-264-2187,Graham,Carter,Graham,OK,73437,South,mtherrod,29.957945
32,131435,100409748,2020-12-26,received,669054.0,MEFGUL5A0154E95E615-M,3.0,148.40,296.80,88.91518,...,049-15-2308,405-264-2187,Graham,Carter,Graham,OK,73437,South,mtherrod,29.957945
33,208415,100470696,2021-04-04,complete,770992.0,MATINF5A7D8FDB03640,3.0,902.60,1805.20,361.04000,...,356-08-6716,270-912-4174,Graham,Muhlenberg,Graham,KY,42344,South,jehaigh,20.000000
34,208416,100470703,2021-04-04,canceled,771000.0,MATINF5A7D8FDB03640,3.0,902.60,1805.20,361.04000,...,356-08-6716,270-912-4174,Graham,Muhlenberg,Graham,KY,42344,South,jehaigh,20.000000
35,208417,100470712,2021-04-04,complete,771009.0,MATINF5A7D8FDB03640,3.0,902.60,1805.20,361.04000,...,356-08-6716,270-912-4174,Graham,Muhlenberg,Graham,KY,42344,South,jehaigh,20.000000
36,208418,100470724,2021-04-04,complete,771023.0,MATINF5A7D8FDB03640,3.0,902.60,1805.20,361.04000,...,356-08-6716,270-912-4174,Graham,Muhlenberg,Graham,KY,42344,South,jehaigh,20.000000
37,212908,100474785,2021-04-11,canceled,777430.0,OTHPCB5A7D8475EFE59,2.0,400.00,400.00,0.00000,...,709-18-8748,239-788-0988,Graham,Bradford,Graham,FL,32042,South,atsouthwick,0.000000
38,214051,100475995,2021-04-14,complete,779410.0,MATROM59D5F67AACC12,2.0,125.00,125.00,0.00000,...,716-18-2091,314-915-6958,Graham,Nodaway,Graham,MO,64455,Midwest,fwslocumb,0.000000
39,262127,100531162,2021-06-20,received,852302.0,MATINF5A61FBB8820B3,1.0,1379.90,0.00,0.00000,...,389-33-9842,210-863-7948,Graham,Young,Graham,TX,76450,South,lrgokey,9.000000
40,262128,100531164,2021-06-20,received,852304.0,MATINF5A61FBB8820B3,1.0,1379.90,0.00,0.00000,...,389-33-9842,210-863-7948,Graham,Young,Graham,TX,76450,South,lrgokey,9.000000
41,262129,100531165,2021-06-20,received,852305.0,MATINF5A61FBB8820B3,1.0,1379.90,0.00,0.00000,...,389-33-9842,210-863-7948,Graham,Young,Graham,TX,76450,South,lrgokey,9.000000
42,262130,100531167,2021-06-20,received,852307.0,MATINF5A61FBB8820B3,1.0,1379.90,0.00,0.00000,...,389-33-9842,210-863-7948,Graham,Young,Graham,TX,76450,South,lrgokey,9.000000
43,285708,100561335,2021-09-22,canceled,903220.0,MATHUA5AF70A7D1E50A,2.0,3589.90,3589.90,0.00000,...,342-11-8159,205-985-7611,Graham,Randolph,Graham,AL,36263,South,aatakacs,0.000000

In [12]:
df.head()

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [23]:
mydf = df.loc[df["price"] < 30, ["value", "SSN", "Place Name", "County"]]

In [24]:
mydf

        value          SSN         Place Name    County
1       190.0  627-31-5251             Vinson    Harmon
104      29.9  756-12-4481       Mill Springs     Wayne
106      29.9  200-84-5318            Phoenix  Maricopa
107      28.8  200-84-5318            Phoenix  Maricopa
109      26.0  200-84-5318            Phoenix  Maricopa
...       ...          ...                ...       ...
286353   29.9  549-99-1515  Hasbrouck Heights    Bergen
286354    9.8  549-99-1515  Hasbrouck Heights    Bergen
286355   24.5  549-99-1515  Hasbrouck Heights    Bergen
286356   15.0  549-99-1515  Hasbrouck Heights    Bergen
286366   23.5  494-29-4236              Crewe  Nottoway

[44225 rows x 4 columns]

In [25]:
mydf

        value          SSN         Place Name    County
1       190.0  627-31-5251             Vinson    Harmon
104      29.9  756-12-4481       Mill Springs     Wayne
106      29.9  200-84-5318            Phoenix  Maricopa
107      28.8  200-84-5318            Phoenix  Maricopa
109      26.0  200-84-5318            Phoenix  Maricopa
...       ...          ...                ...       ...
286353   29.9  549-99-1515  Hasbrouck Heights    Bergen
286354    9.8  549-99-1515  Hasbrouck Heights    Bergen
286355   24.5  549-99-1515  Hasbrouck Heights    Bergen
286356   15.0  549-99-1515  Hasbrouck Heights    Bergen
286366   23.5  494-29-4236              Crewe  Nottoway

[44225 rows x 4 columns]

In [26]:
import numpy as np

In [27]:
mydf["Year"] = np.array(2000)

In [28]:
mydf

        value          SSN         Place Name    County  Year
1       190.0  627-31-5251             Vinson    Harmon  2000
104      29.9  756-12-4481       Mill Springs     Wayne  2000
106      29.9  200-84-5318            Phoenix  Maricopa  2000
107      28.8  200-84-5318            Phoenix  Maricopa  2000
109      26.0  200-84-5318            Phoenix  Maricopa  2000
...       ...          ...                ...       ...   ...
286353   29.9  549-99-1515  Hasbrouck Heights    Bergen  2000
286354    9.8  549-99-1515  Hasbrouck Heights    Bergen  2000
286355   24.5  549-99-1515  Hasbrouck Heights    Bergen  2000
286356   15.0  549-99-1515  Hasbrouck Heights    Bergen  2000
286366   23.5  494-29-4236              Crewe  Nottoway  2000

[44225 rows x 5 columns]

In [1]:
df.head()

NameError: name 'df' is not defined

In [10]:
df

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286387,100562365,2021-09-30,paid,905179.0,APPCHA5AF14939B8F8A,2.0,4419.9,4419.9,0.0,4419.9,...,613-87-0361,212-772-7404,Rushville,Yates,Rushville,NY,14544,Northeast,bklatham,0.0
286388,100562376,2021-09-30,cod,905191.0,MEFCOT5A8D1E973B886,2.0,39.9,39.9,0.0,39.9,...,101-02-1040,229-817-9451,Lawrenceville,Gwinnett,Lawrenceville,GA,30044,South,bmbrunetti,0.0
286389,100562383,2021-09-30,cod,905200.0,WOFVAL59D5EA84167F9-M,2.0,40.0,40.0,0.0,40.0,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286390,100562384,2021-09-30,cod,905202.0,WOFNIG5B4D7EB0E9FDD-L,2.0,49.9,49.9,0.0,49.9,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286391,100562386,2021-09-30,processing,905205.0,MATHUA5AF70A7D1E50A,2.0,3559.9,3559.9,0.0,3559.9,...,320-11-8748,423-276-2699,Knoxville,Knox,Knoxville,TN,37920,South,reschlosser,0.0

In [11]:
df.head()

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [13]:
df.columns

Index(['order_id', 'order_date', 'status', 'item_id', 'sku', 'qty_ordered',
       'price', 'value', 'discount_amount', 'total', 'category',
       'payment_method', 'bi_st', 'cust_id', 'year', 'month', 'ref_num',
       'Name Prefix', 'First Name', 'Middle Initial', 'Last Name', 'Gender',
       'age', 'full_name', 'E Mail', 'Customer Since', 'SSN', 'Phone No. ',
       'Place Name', 'County', 'City', 'State', 'Zip', 'Region', 'User Name',
       'Discount_Percent'],
      dtype='object')

In [17]:
df.groupby("status").mean()

,item_id,qty_ordered,price,value,discount_amount,total,cust_id,year,ref_num,age,Zip,Discount_Percent
status,,,,,,,,,,,,
canceled,750570.169739,2.924237,1227.209571,1254.455559,71.898755,1182.556804,73562.665095,2020.645294,559809.891545,46.380918,49757.434294,6.237671
closed,740168.931818,2.136364,697.580966,633.710511,33.068750,600.641761,62287.409091,2020.625000,537914.312500,45.272727,53084.323864,3.789859
cod,744923.751315,2.294984,95.500622,105.780070,1.700683,104.079387,64134.660119,2020.479832,580393.121010,47.136794,46882.099263,0.823118
complete,702342.567665,2.819969,747.338311,812.127430,108.183447,703.943983,64586.899481,2020.487321,558088.199341,46.443980,49830.394782,7.905184
holded,904208.000000,3.600000,4375.416000,4459.912000,12.420000,4447.492000,114652.240000,2021.000000,519817.080000,34.320000,56275.160000,4.480519
order_refunded,724209.265391,2.524054,695.692652,601.572920,24.163428,577.409491,67337.709485,2020.578073,563237.402559,46.270758,49449.723720,2.421542
paid,817671.059524,5.592593,236.846776,329.257602,41.995819,287.261783,70577.748677,2020.750000,548183.432540,47.935185,45487.390212,7.036643
payment_review,903927.947368,7.526316,182.001754,383.685965,80.564211,303.121754,99276.771930,2021.000000,523250.280702,51.631579,48608.912281,17.148710
pending,805338.583333,2.354167,2077.643750,2332.093750,298.672042,2033.421708,60994.020833,2021.000000,547118.750000,48.208333,51172.145833,5.751225
pending_paypal,588670.500000,2.000000,73.225000,73.225000,0.000000,73.225000,18481.000000,2020.000000,646127.250000,32.000000,30962.000000,0.000000
processing,903440.272727,2.060606,1352.247576,2305.768788,0.000000,2305.768788,43761.757576,2021.000000,501825.575758,41.272727,71776.939394,0.272727
received,798117.290468,3.711907,392.122372,448.402106,30.767639,417.634466,74076.441082,2020.816127,566503.200637,46.751656,49830.347774,4.650831
refund,725432.369895,3.817801,172.920096,282.807514,24.425581,258.381933,62014.322251,2020.562827,553696.617801,47.950524,49195.495550,5.864599